vault_url: "https://vault.hbojda.ovh"

vault_ssh_key_raw: >-
   {{ lookup('community.hashi_vault.vault_kv2_get',
            'ssh_proxmox', field='private_key',
            engine_mount_point='kv',
            url=vault_url)
   }}
